.container{
    background: var(--color-background);
    margin: 64px 64px 32px 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1d2f;
    color: #1c1c1c;
    padding: 64px; 
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil-foto{
    border-radius: 460px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 25);
}

.titulo{
    margin-left: 16px;
}

.titulo h1{
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.contatos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon-contato {
   width: 35px;
   height: 35px;
   
}
.icon-contato:hover{
    /* transform: scale(1.1); */
    transform: rotate(360deg);
    transition: 1s;
}

 .tema{
    max-width: 100px;
    max-height: 40px;
 }
.tema button{
    align-self: flex-end;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    /*background: var(--color-background);*/
    background:var(--color-background) ;
    color: var(--color-background-dark);
    border-radius: 180px;
    border: 1px solid var(--color-background-dark);
}

.tema button:hover{
    transition: 1s;
    color: var(--color-background);
    background: var(--color-background-dark);
    border: 1px solid var(--color-background-dark);
}

@media screen and (max-width:855px) {

    img{
        width: 100px;
        height: 100px;
    }
    
    .titulo h1{
        font-size: 24px;
    }
    
    .titulo h3 {
        font-size: 18px;
    }
  
}

@media screen and (max-width:715px) {

    .container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .perfil-foto{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 20px auto 0px auto;
    }

    img{
        width: 100px;
        height: 100px; 
    }
    
    .contatos{
        width: 100%;
        justify-content: center;
        position: absolute;
        right: 0;
    }

    .titulo{
        width: 100%;
        margin-top: 60px;
    }

    .titulo h1{
        text-align: center;
        font-size: 24px;
    }

    .tema{
        display: none;
    }
}

@media screen and (max-width:540px) {
   .container{
        width: 215px;
        margin-left: auto;
        margin-right: auto;  
        
   }

    .titulo h3 {
        font-size: 18px;
        text-align: center;
    }
    
}



