.consideracoes{
    
    background:var(--color-background) ;
    margin: 32px 64px 32px 64px;
    padding: 32px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
    align-items: center;
}
.icon-contato-footer {
    width: 35px;
    height: 35px;
    cursor: pointer;
 }

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnContatos{
    display: flex;
    height:100%;
    width: 140px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 630px) {
    .container-footer{
        display: inherit;
    }

    h5{
        width: 100%;
        text-align: center;
        font-family: sans-serif;
    }

    .btnContatos{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    

}

@media screen and (max-width: 540px) {

    .consideracoes{
        margin-left: auto;
        margin-right: auto;     
    }

}