body{
    padding: 0px;
    margin: 0px;
    font-family:  sans-serif, 'Oswald';
}

header{
    height: 60px;
    max-width: 100%;
    background-color: #292929;
    display: flex;
}

.titulo{
    margin-left: 70px;
    margin-top: -10px;
    color: #fff;
}

.itens{
    margin-left: 460px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    text-transform: capitalize;
    list-style-type: none;
    color: #fff;
}

.itens :hover{
    cursor: pointer;
    color: #8a28b2;
    transition: 1s;
}

#apresentacao{
    height: 90vh;
    max-width: 100%;
    background-color: #232323;
    display: flex;
}

#apresentacaoLeft{
    height: 50vh;
    width: 50%;
    
    margin-top: 150px;
}

p {
    color: #fff;
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin-left: 170px;

    margin-bottom: -30px;
    
}

#destaque{
    color: #8a28b2;
    font-size: 2.0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    height: 25px;
    width: 150px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 25%;
    text-align: center;
    background-color: #232323;
    font-size: 1.2em;
    color: #8a28b2;
    border: 2px solid #8a28b2;
    border-radius: 90px;
}

.btn:hover{
    background-color: #8a28b2;
    border: 2px solid #fff;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}

#apresentacaoRight{
    background-color: rgba(175, 4, 248, 0.24);
    height: 50vh;
    width: 35%;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 90px;
}

#apresentacaoRight > img{
    margin-left: 55px;
}

#projetos{
    height: 100vh;
    max-width: 100%;
    background-color: #292929;
    display: flex;
}

.titleForm{
    margin-left: 70px;
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;
}