.paralax {
    position: absolute;
    height: 100%;
    width: 100%;
}

.paralax-item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.p-item0 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.p-item1 {
    background: url("../assets/img/night-mode/stars.png") center/cover no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10;
    left: 0;
}

.p-item1-light-mode {
    background: url("../assets/img/light-mode/cloud4.png") center/cover no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10;
    left: 0;
}

.p-item3 {
    background: url("../assets/img/mountains_front.png") bottom/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

@media (max-width: 800px){
    .p-item3 {
        background: none;
        /* background: url("../../assets/img/m_3.png") bottom/100% no-repeat; */
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
}

.p-item4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../assets/img/m_2.png") repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 20s linear infinite;
}
.p-item4::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../assets/img/m_2.png") repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 20s linear infinite;
    z-index: 1;
}

@keyframes marquee {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(-200vw,0,0);
    }
}

#moonContainer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moon{
    width: 300px;
    cursor: pointer;
} 

#moonContainer p{
    color: #fff;
    display: flex;
    position: absolute;
    cursor: pointer;
}

#moonContainer:hover p{
    color: #83819B;
}

@media (max-width: 500px){
    .container_moon {
        display: none;
    }
}

.container_moon_small {
   display: none;
}

@media (max-width: 500px){
    .container_moon_small {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 100px;
    }
}

@media (max-width: 280px){
    .container_moon_small img {
        width: 100px;
    }
}

.container {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80vh;
    background-color: var(--background-primary);
}

.content-item3 {
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* margin-right: 40px; */
}


.invisible {
    visibility: hidden;
}