.container-experience {
    width:100%; 
    height: 800px;
    display: flex; 
    gap: 15px;
    padding: 0px 120px;
    background-color: var(--background-secundary);
    flex-direction: column;
}

.title-experience {
    color: var(--primary-color);
}

/* .select-experience {
    width: 300px; 
    border-radius: 2px;
} */

/* @media (max-width: 800px){
    .select-experience {
        width: 100%;
        border: 1px solid var(--primary-color);
        border-radius: 2px;
    }
} */

/* .select-experience ul{ 
    max-height: 300px;
    overflow-y: scroll;
    overflow: auto;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 0px;
    margin: 0px; 
} */

/* .select-experience li {
    height: 50px;
    padding-top: 20px;
    background-color: var(--background-primary);
    text-align: center;
}

.select-experience li:hover{ 
   background-color: var(--primary-color);
}
.select-experience-description {
    width: 100%;
}

.select-experience-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
}

.select-experience-header h2{
    color: var(--text-color-secundary);
} */




