footer {
    background-color: var(--background-secundary);
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    footer {
        height: auto;
        padding: 40px 10%;
    }
}

@media (max-width: 767px) {
    footer {
        padding: 20px 5%;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-item-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.footer-item-1 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container-social-midia {
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

.sub-container-social-midia {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.social-icon {
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    opacity: 0.8;
    transform: translateY(-5px);
}

.copyright-text {
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.horizontal-line {
    border-top: 1px solid var(--primary-color);
    width: 100%;
    margin: 20px 0;
}
