/* Container principal */
.container-services {
    height: auto;
    /* Ajusta a altura conforme o conteúdo */
    padding: 20px;
    /* Adiciona espaçamento interno uniforme */
    background-color: var(--background-primary);
    box-sizing: border-box;
    /* Inclui o padding na altura total */
}

/* Título dos serviços */
.title-services {
    font-size: 2rem;
    /* Usa rem para escala relativa */
    color: var(--primary-color);
    text-align: center;
    /* Centraliza o texto */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

/* Container dos cartões */
.container-cards-services {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os cartões se movam para a linha seguinte */
    gap: 15px;
    justify-content: center;
    margin: 0 auto;
    /* Centraliza o container na tela */
}

.card-services {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 9px;
    border: 1px solid var(--text-color-secundary);
    transition: border 0.5s, box-shadow 0.5s;
    box-sizing: border-box;
}

/* Efeito hover dos cartões */
.card-services:hover {
    border-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

.card-title-services {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color-secundary);
    margin-bottom: 10px;
}

.card-description {
    color: var(--text-color-secundary);
}

.card-services:hover i,
.card-services:hover h3 {
    color: var(--primary-color);
    transition: color 0.5s;
}

.card-services:hover .card-description {
    color: var(--text-color);
    transition: color 1.5s;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .container-services {
        padding: 20px 10px;
    }

    .title-services {
        font-size: 1.5rem;
    }

    .card-services {
        max-width: 100%;
    }
}