
header {
    width: 100vw;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    color: #FFF;
    background: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);   
}

header h2 {
    font-size: 30px;
    font-family: monospace;
}